@font-face{
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'Ostrich';
  src: url('../fonts/ostrich-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 8px 0 0 0;
}

.pink {
  color: #eb008b !important;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 75%;
}

.navbar {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.navbar a {
  font-family:'Ostrich', Arial, sans-serif;
}

.logo {
  width: 100px;
}

.nav ul {
  display: inline;
  float: right;
}

.nav li:last-child {
  margin-right: 0 !important;
  padding-right: 0;
}

li {
  text-decoration: none;
  display: inline;
  margin-right: 10%;
  padding-right: 30px;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #9b59b6;
}

a:hover {
  color: #F62459;
}

.title {
  text-align: center;
  font-size: 3em;
  color: #9b59b6;
  margin: 0;
  font-weight: 300;
  margin-bottom: 25px;
}

.banner {
  width: 100%;
}

.intro p {
  text-align: justify;
  font-size: 1.5em;
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.small {
  width: 275px;
  height: 183px;
}

.topics {
  margin-top: 5%;
}

.topics div {
  display: inline-block;
  width: 275px;
  margin-right: 11%;
  font-weight: 200;
}

.topics div:last-child {
  margin-right: 0;
}

.clock {
  margin-left: 21% !important;
  display: inline-block;
  width: 80% !important;
}

#map-canvas {
  width: 500px;
  height: 300px;
  margin: 25px 0 50px 0;
  float: right;
  border: solid 3px #8e44ad;
  box-shadow: 0px 10px 25px #888888;
}

footer {
  background: #16e0d8;
  position: relative;
  height: 120px;
  clear:both;
  padding-top: 85px;
  margin-top: 25px;
}

.ftr-name {
  color: #fff;
  font-weight: 300;
  display: inline;
}

.ftr-icons {
  float: right;
}

.ftr-icons img {
  margin-right: 20px;
}

cite {
  color: white;
  font-weight: 100;
}

.thin {
  font-weight: 100 !important;
}

.location div {
  display: inline-block;
}

.sm-title {
  font-size: 2em;
  color: #9b59b6;
  font-weight: 300;
  margin-bottom: 5px;
}

/*********************** Order Form ***********************/

.tkt-type {
  height: 35px;
  width: 30%;
  font-size: 1.25em;
  font-weight: 100;
}

.info-input {
  height: 35px;
  width: 30%;
  font-size: 1.25em;
  font-weight: 300 !important;
}

form input {
  margin-bottom: 15px;
}

form {
  text-align: center;
}

.registration {
  margin: 50px 0;
}

#submit {
  padding: 7px 30px !important;
  font-size: 18px !important;
  background-color: #F5D76E;
  font-weight: bold;
  color: #fff;
  border: none;
  border-bottom: 4px solid #F4D03F;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 100;
}

#submit:hover {
  border-bottom: none;
  margin-top: 4px;
}

label {
  font-weight: 100;
}

.fine {
  font-size: .75em;
}
