@font-face{
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'Ostrich';
  src: url('../fonts/ostrich-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 8px 0 0 0;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 75%;
}

.navbar {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.navbar a {
  font-family:'Ostrich', Arial, sans-serif;
}

.logo {
  width: 100px;
}

.nav ul {
  display: inline;
  float: right;
}

.nav li:last-child {
  margin-right: 0 !important;
  padding-right: 0;
}

li {
  text-decoration: none;
  display: inline;
  margin-right: 10%;
  padding-right: 30px;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #9b59b6;
}

a:hover {
  color: #F62459;
}

.title {
  text-align: center;
  font-size: 3em;
  color: #9b59b6;
  margin: 0;
  font-weight: 300;
  margin-bottom: 25px;
}

.banner {
  width: 100%;
}

.intro p {
  text-align: justify;
  font-size: 1.5em;
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.small {
  width: 275px;
  height: 183px;
}

.topics {
  margin-top: 5%;
}

.topics div {
  display: inline-block;
  width: 275px;
  margin-right: 11%;
  font-weight: 200;
}

.topics div:last-child {
  margin-right: 0;
}

.clock {
  margin-left: 21% !important;
  display: inline-block;
}

#map-canvas {
  width: 500px;
  height: 300px;
  margin: 25px auto;
}

footer {
  background: #16e0d8;
  position: relative;
  height: 120px;
  clear:both;
  padding-top: 85px;
  margin-top: 25px;
}

.ftr-name {
  color: #fff;
  font-weight: 300;
  display: inline;
}

.ftr-icons {
  float: right;
}

.ftr-icons img {
  margin-right: 20px;
}

cite {
  color: white;
  font-weight: 100;
}
